
REvoDesign/.DS_Store
.DS_Store
REvoDesign/UI/REvoDesign-PyMOL_ui.py
TODO
*.pyc
iprscan5-*
REvoDesign/UI/REvoDesign-CommentMutant_ui.py
REvoDesign/library/*
draws/server_dashboard.tldr
prompt/revised.txt
REvoDesign/clients/UniBroadcaster.py
REvoDesign/external_designer/ExternalBuilders.py
.vscode/settings.json
tests/testdata/secret/revodesign.txt
1nww.cif
5i9f.cif
tests/testres/*
tests/testdata/gremlin/*.pkl
tests/testdata/*.pze
tests/playground/*
tests/testdata/pssm/1nww.surf.pze
tests/downloaded/
.coverage
coverage.xml
*.pdf
draws/DALL·E 2024-01-15 23.45.31 - Create a simplified website logo with high contrast and bold hook lines, based on the image of a human pilot and a robot co-pilot standing side by sid.ai
logs/*.jsonl
*.fasta
*.cif
pockets/*
mutations_design_profile/*
surface_residue_records/*
tmp-test-dir-with-unique-name/*
tests/downloaded/*
tests/expanded_compressed_files/*
.coverage.*
tmp-test-dir-with-unique-name.zip
tests/performance/*
packages.dot
classes.dot
/image/svg
/wheel
/tests_dir
/gremlin_co_evolved_pairs
1SUO_GREMLIN_mtx_zscore.png
/logs
/.idea
/.idea
.idea/REvoDesign.iml
/pythia
/tests/testdata/pssm
/tests/logs
/citations
/.idea
.idea/misc.xml
/tests/data/mutagenese/checkpoints
src/REvoDesign/UI/Ui_REvoDesign-PyMOL-entry.py
/png
tests/data/pssm/1nww_A_ascii_mtx_file.csv
/src/REvoDesign/editor/static
/ligands
/json_multi_input
error.log
/screenshots
/pymol_screenshots
/performance
/analysis
/experiments
/1SUO_A_evaluate_pssm_ent_surf.besthits.mut_designs_1
/1SUO_A_evaluate_pssm_ent_surf.besthits.mut_designs_2
/cluster_scorings
*.seqxml
*.sff
/tests/outputs
tests/data/3fap_hf3_A_short.pdb
tests/data/6zcy_lig.pdb
/debug
/tests/pross
/relaxed/fastrelax/relaxed
ROSETTA_CRASH.log
/relaxed
/mutant_pdbs
tests/saves.csv
/seg_chain_resn_sel
normal.txt
sick.txt
dev/after.txt
dev/before.txt
pylint_score.txt
render.mp4
