
REvoDesign/.DS_Store
.DS_Store
REvoDesign/UI/REvoDesign-PyMOL_ui.py
TODO
*.pyc
iprscan5-*
REvoDesign/UI/REvoDesign-CommentMutant_ui.py
REvoDesign/library/*
draws/server_dashboard.tldr
prompt/revised.txt
REvoDesign/clients/UniBroadcaster.py
REvoDesign/external_designer/ExternalBuilders.py
.vscode/settings.json
tests/testdata/secret/revodesign.txt
1nww.cif
5i9f.cif
tests/testres/*
tests/testdata/gremlin/*.pkl
tests/testdata/*.pze
tests/playground/*
tests/testdata/pssm/1nww.surf.pze
.coverage
coverage.xml
*.pdf
draws/DALL·E 2024-01-15 23.45.31 - Create a simplified website logo with high contrast and bold hook lines, based on the image of a human pilot and a robot co-pilot standing side by sid.ai
*.pdb
logs/*.jsonl
*.fasta
*.cif
*.pdb
pockets/*
mutations_design_profile/*
surface_residue_records/*
tmp-test-dir-with-unique-name/*
tests/downloaded/*
tests/expanded_compressed_files/*
.coverage.*
tmp-test-dir-with-unique-name.zip
tests/performance/*
packages.dot
classes.dot
/image/svg
