# Copy this file to server/.env and update the paths according to your host.
SERVER_IMAGE=revodesign-pssm-gremlin-server-non-root
RUNNER_IMAGE=revodesign-pssm-gremlin-non-root
SERVER_DIR=/Users/yyy/Documents/protein_design/REvoDesign/playground/server_test
LOG_DIR=/Users/yyy/Documents/protein_design/REvoDesign/playground/server_test/revodesign/server/logs
DB_UNIREF30=/Users/yyy/Documents/protein_design/REvoDesign/playground/miniuc/uc30/miniuc30
DB_UNIREF90=/Users/yyy/Documents/protein_design/REvoDesign/playground/miniuc/uc90/uniref90
USERS_FILE=/Users/yyy/Documents/protein_design/REvoDesign/server/pssm_gremlin/users.template.txt
REDIS_URL=redis://redis:6379/0
BROKER_URL=redis://redis:6379/0
RESULT_BACKEND=redis://redis:6379/0
NPROC=4
GUNICORN_WORKERS=2
WORKER_CONCURRENCY=2
RUNNER_UID=1000
RUNNER_GID=1000
DOCKER_GID=998
RUNNER_USERNAME=revodesign
RUNNER_GROUP=revodesign_appgroup
DOMAIN=0.0.0.0
PORT=8080
